<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- keep default Spring logging pattern -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <springProperty scope="context" name="otelLogLevel" source="otel.log.level" defaultValue="INFO"/>
  <appender name="OpenTelemetry"
    class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    <captureExperimentalAttributes>true</captureExperimentalAttributes>
    <captureMdcAttributes>*</captureMdcAttributes>
    <!-- Set the logging level for OpenTelemetry from the environment variable -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>${otelLogLevel}</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="OpenTelemetry"/>
  </root>

</configuration>